  main {
    justify-items: center;
  }
  
  #contact-container {
    width: 100%;
    margin: 0 0 10px 0;
    max-width: 1200px;
    padding: 15px;
    background-color: var(--color-2);
    border-radius: 3px;
  }

  #contact-booking-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .business-info {
    max-width: 100%;
    justify-items: center;
    align-items: center;
  }

  #contact-us {
    justify-items: center;
    align-items: center;
  }

  .contact-header {
    text-align: center;
    font-size: 28px;
    padding: 10px;
  }

  #contact-us .business-info ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contact-us .business-info ul li.business-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .no-leading-zero {
    padding-left: 8px;
  }

  #contact-us div ul .info-item { 
    padding: 3px 0;
    margin: 12px 0;
  }

  .business-info li a {
    color: var(--text-color);
  }

  #booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
  }

  .contact-socials-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-socials-container div {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }

  .contact-socials-container div a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 5px 0 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--text-color);
    transition: all 0.5s ease;
  }

  .contact-socials-container div a:hover {
    color: var(--color-3);
    background: none;
  }

.google-map {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 25px auto;
    display: flex;
}

.google-map iframe {
  width: 100%;
  height: 250px;
  flex-shrink: 1;
}

#about-us-section {
  margin-bottom: 100px;
  padding: 35px 50px;
  background: linear-gradient(135deg, #F4E6FF, #E8E6FF);
  border-radius: 16px;
  overflow: hidden;
}




@media (max-width: 1168px) {
  #contact-booking-container {
    grid-template-columns: 1fr;
  }
  #contact-us {
    width: 100%;
  }

  .business-info, #booking {
    width: 100%;
  }
}

@media (max-width: 450px) {

  .background {
    width: 100%;
  }

  #contact-container {
    max-width: 100%;
  }
  #contact-booking-container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .google-map {
    max-width: 80%;
  }
}